.wrapper {
  position: relative;
  height: 100%;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  display: flex;
}
.board {
  margin: auto;
  position: relative;
}
.canvas {
  border: 15px solid green;
  background: #fff;
}
.end-popup {
  background-color: #fff;
  border-radius: 4px;
  width: 300px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.score {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    img {
        margin-right: 10px;
    }
}
